*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

h1 {
  font-family: "Special Elite", Arial, serif;
  font-weight: 400;
  font-size: 60px; }

h2 {
  font-family: "Special Elite", Arial, serif;
  font-weight: 400;
  font-size: 30px; }

h3 {
  font-family: "Special Elite", Arial, serif;
  font-weight: 400;
  font-size: 20px; }

.stencil {
  font-family: "Allerta Stencil", Arial, serif;
  font-weight: 400;
  font-size: 20px; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.demo {
  color: #363742;
  display: block;
  background: rgba(255, 255, 255, 0.4);
  padding: 1em 0;
  text-align: center;
  -webkit-box-shadow: inset 0px 1px 2px #CCC;
  -moz-box-shadow: inset 0px 1px 2px #CCC;
  box-shadow: inset 0px 1px 2px #CCC;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .column-1 {
    width: 8.3333333333%; }
  .column-2 {
    width: 16.6666666667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.3333333333%; }
  .column-5 {
    width: 41.6666666667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.3333333333%; }
  .column-8 {
    width: 66.6666666667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.3333333333%; }
  .column-11 {
    width: 91.6666666667%; }
  .column-12 {
    width: 100%; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

.btn {
  display: inline-block;
  margin: 1rem;
  padding: .2em .5em;
  border: .07em solid;
  border-radius: .3em;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  font: bold 1.5rem sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.purple {
  border-color: #673693;
  background-color: #9A68C7; }
  .purple:hover {
    background-color: #8b52bf;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #9f6fca; }
  .purple:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #331b48, inset 0 0.063em #673693, inset 0 -0.188em #673693; }

.blue {
  border-color: #1672a3;
  background-color: #3BA9E4; }
  .blue:hover {
    background-color: #209de0;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #44ade5; }
  .blue:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0a3349, inset 0 0.063em #1672a3, inset 0 -0.188em #1672a3; }

.green {
  border-color: #446927;
  background-color: #75B343; }
  .green:hover {
    background-color: #669d3b;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #7aba46; }
  .green:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #141f0b, inset 0 0.063em #446927, inset 0 -0.188em #446927; }

.orange {
  border-color: #db2e00;
  background-color: #FF6A42; }
  .orange:hover {
    background-color: #ff5223;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ff724c; }
  .orange:active {
    box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #751900, inset 0 0.063em #db2e00, inset 0 -0.188em #db2e00; }

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5em;
  padding: 8px;
  margin: 0 0 0 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  outline: 0;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15); }
  input[type='text']:hover {
    border-color: #999;
    background-color: #f0f0f0; }
  input[type='text']:focus {
    border-color: #89e;
    background-color: #fff;
    box-shadow: inset 1px 1px 2px rgba(20, 20, 120, 0.3); }
  input[type='text']:disabled {
    border-color: #ccc;
    background-color: #eee;
    color: #999; }

.mod-input {
  position: relative;
  display: block; }
  .mod-input > label {
    width: 45%;
    font-weight: bold; }
  .mod-input > input, .mod-input > label {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .mod-input.disabled {
    color: #888; }
    .mod-input.disabled input {
      border-color: #ccc;
      background-color: #eee;
      color: #999; }
  .mod-input.invalid label {
    color: #911; }
  .mod-input.invalid input {
    border-color: #e65;
    background-color: #fdd; }
  .mod-input.valid label {
    color: #191; }
  .mod-input.valid input {
    border-color: #6e5;
    background-color: #dfd; }

body {
  padding: 30px; }

/*# sourceMappingURL=main.css.map */